 body {
     margin: 0;
     padding: 0;
     background-color: #169ED8;
     background-image: url(../img/pooltable-bg.png);
     background-repeat: no-repeat;
     background-attachment: local;
     background-size: cover;
     background-position: center;
     font-family: 'Roboto Slab', serif;
     height: 100vh;
 }

 .main {
     position: relative;
     background-size: auto;
     margin-top: 0%;
 }

 .container-mainpage{
    background-color: #169ED8;
    height: 100vh;
    text-align: center;
    margin: 0;
 }

 .logo-container {
     text-align: center;
     margin: 0;
     padding-top: 8rem;
     padding-bottom: 2rem;
 }

 .logo-container-mainpage{
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 8rem;
 }

 .logoimg {
     max-width: auto;
     position: relative;
 }

 .logoimg_mainpage{
    width: 15rem;
 }

 .setup,
 .enterplayernamecontainer,
 .addplayercontainer
 {
     text-align: center;
     margin: 0;
     padding: 0;
     padding-bottom: 3rem;
 }

 .rules,
 .startgamecontainer{
    text-align: center;
    margin: 0;
    padding: 0;
 }

 .addplayercontainer
 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1.5rem;
 }

 .setupgamebtn {
     background-color: #33F913;
     color: black;
     font-size: 1.8rem;
     padding: 1.1rem 1.8rem;
     filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
     border-style: none;
 }

 .rulesbtn {
     background-color: #F4EB00;
     color: rgb(0, 0, 0);
     font-size: 1.2rem;
     padding: 0.5rem 3.6rem;
     filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
     border-style: none;
 }

 .addplayerbtn {
    background-color: #33F913;
    color: black;
    font-size: 1.8rem;
    padding: 1.0rem 1.8rem;
    filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
    border-style: none;
}

.startgamebtn {
    background-color: #F4EB00;
    color: black;
    font-size: 1.8rem;
    padding: 1.0rem 1.8rem;
    filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
    border-style: none;
}

.form-group{
    margin: 0 auto;
    width: auto;
    max-width: 25rem;
    text-align: center;
}


.playernametextfield{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1.0rem;
    background-color: silver;
    filter: drop-shadow(0mm -1.3mm 0.1rem #0975A7);
    text-align: center;
}

.playernamelabel{
    font-size: 1.3rem;
}

.playercont{
    text-align: right;
}

.logo-container-viewpage{
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 4rem;
 }


.player1-live1,
.player1-live2,
.player1-live3,
.player1-live4,
.player1-live5,
.player1-live6,
.player1-addremove{
        margin: 2%; 
        width: 3.5rem;
        height: 3.5rem;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: white;
}

.player1-addremove
{
    background: black;
}

ul,li{
    display: flex;
    justify-content: center;
}

.viewpagecolmargin{
    margin-top: 1rem;
}


 @media (max-width: 300px) {
    
        .logoimg {
            width: 8rem;
            position: relative;
        }

        .setupgamebtn {
            font-size: 1.2rem;
            padding: 5%;
        }

        .rulesbtn {
            font-size: 1.2rem;
            padding: 5%;
        }

 }

 @media (max-width: 490px) {
    .player1-live1,
    .player1-live2,
    .player1-live3,
    .player1-live4,
    .player1-live5,
    .player1-live6,
    .player1-addremove{

        width: 3.0rem;
        height: 3.0rem;
    }    

    .logoimg_mainpage {
        width: 12rem;
        position: relative;
    }

 }


 @media (max-width: 415px) {
    .player1-live1,
    .player1-live2,
    .player1-live3,
    .player1-live4,
    .player1-live5,
    .player1-live6,
    .player1-addremove{

        width: 2.9rem;
        height: 2.9rem;
    }    
 }

 @media (max-width: 329px) {
    .player1-live1,
    .player1-live2,
    .player1-live3,
    .player1-live4,
    .player1-live5,
    .player1-live6,
    .player1-addremove{

        width: 1.9rem;
        height: 1.9rem;
    }    
 }