 body {
     margin: 0;
     padding: 0;
     
     background-image: url(../img/pooltable-bg.png);
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
     background-position: center;
     font-family: 'Roboto Slab', serif;
     height: 100vh;
 }

 .main {
     position: relative;
     /* background: url(../img/pooltable-bg.png) top no-repeat scroll; */
     background-size: auto;
     margin-top: 0%;
 }

 .container-mainpage{
    background-color: #169ED8;
    height: 100vh;
    text-align: center;
    margin: 0;
 }

 .logo-container {
     text-align: center;
     margin: 0;
     padding-top: 8rem;
     padding-bottom: 2rem;
 }

 .logo-container-mainpage{
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 8rem;
 }

 .logoimg {
     max-width: auto;
     position: relative;
 }

 .logoimg_mainpage{
    width: 15rem;
 }

 .setup,
 .rules,
 .enterplayernamecontainer,
 .addplayercontainer,
 .startgamecontainer
 {
     text-align: center;
     margin: 0;
     padding: 0;
     padding-bottom: 3.5rem;

 }

 .addplayercontainer
 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1.5rem;
 }

 .setupgamebtn {
     background-color: #33F913;
     color: black;
     font-size: 1.8rem;
     padding: 1.1rem 1.8rem;
     filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
     border-style: none;
 }

 .rulesbtn {
     background-color: #F4EB00;
     color: rgb(0, 0, 0);
     font-size: 1.2rem;
     padding: 0.5rem 3.6rem;
     margin-bottom: 10rem;
     filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
     border-style: none;
 }

 .addplayerbtn {
    background-color: #33F913;
    color: black;
    font-size: 1.8rem;
    padding: 1.0rem 1.8rem;
    filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
    border-style: none;
}

.startgamebtn {
    background-color: #F4EB00;
    color: black;
    font-size: 1.8rem;
    padding: 1.0rem 1.8rem;
    filter: drop-shadow(0mm 1.3mm 0.1rem #0975A7);
    border-style: none;
}


.playernametextfield{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1.0rem;
    background-color: silver;
    filter: drop-shadow(0mm -1.3mm 0.1rem #0975A7);
    text-align: center;
}

.playernamelablel{
    font-size: 1.3rem;
}

 @media (max-width: 300px) {
    
        .logoimg {
            width: 8rem;
            position: relative;
        }

        .setupgamebtn {
            font-size: 1.2rem;
            padding: 5%;
        }

        .rulesbtn {
            font-size: 1.2rem;
            padding: 5%;
        }

 }
